<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Visualization</title>
</head>

<body>

  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">COMP9321</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Statistics Visualization</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/factor">Important Factors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/predict">Predict</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid" style="margin-top: 4rem;">
    <!-- Content here -->

    <!-- style="position: sticky;top: 4rem;height: calc(100vh - 4rem);overflow-y: auto;" -->

    <div class="row">
      <div class="col-3">
        <div id="list-example" class="list-group">
          <a class="list-group-item list-group-item-action active" href="#list-item-header">Visualization</a>
          {% for i, item in vis_items %}
          <a class="list-group-item list-group-item-action"
            href="#list-item-{{ i }}">{{ item.display_name }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="col-9">
        <div data-spy="scroll" data-target="#list-example" data-offset="0"
          style="height: calc(100vh - 4rem); overflow: auto;">
          <h1 id="list-item-header">Task 1</h1>
          <p>
            Visualization of the statistics for basic information(Attribute) No. 3 - 13 by groups of age and sex with
            appropriate charts.
          </p>
          {% for i, item in vis_items %}
          <h4 id="list-item-{{ i }}">{{ item.display_name }}</h4>
          <img src="static/images/{{ item.name }}.jpg" class="img-fluid">
          {% endfor %}
        </div>
      </div>
    </div>


  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>